.container {
  margin: 1% 10% 1% 10%;
}
.row {
  margin: 2% 0% 2% 0%;
}
ul {
   width: 100%;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
 }
li {
  float: left;
  margin-left: 1px;
}
li a {
  display: block;
  color:black;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
}
nav ul li .active {
  background-color: grey;
}
