<div class="container">
  <div class="row">
    <button (click)="goBack()"><span>&#8592;</span>Back</button>
  </div>
  <div class="media">
    <img *ngIf="videoKey===''" alt="No image available"
         src="https://image.tmdb.org/t/p/original{{movie.backdrop_path}}">
    <youtube-player *ngIf="videoKey!=''"
                    allow-presentation
                    [videoId]="videoKey"
                    [height]="500"
                    [width]="1300"
                    (ready)="savePlayer($event)"
                    (change)="onStateChange($event)">
    </youtube-player>
  </div>
  <div class="details" *ngIf="movie">
    <h1>{{movie.original_title}}</h1>
    <p>Original language: {{movie.original_language}}</p>
    <p>Description: {{movie.overview}}</p>
  </div>
</div>
